In [4]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('database.db')
df = pd.read_sql_query("SELECT * FROM users", conn)
df

  username password
0  pramana  pramana